In [1]:
import pandas as pd

In [9]:
tables = ['Campaign', 'Category', 'City', 'Discount', 'Holiday', 'InCategory', 'Product', 'Store', 'Transaction']
for t in tables:
    df = pd.read_csv(f"{t}.tsv", delimiter='\t', header=None)
    df.to_csv(f'{t}.csv', index=False, header=False)

In [10]:
t = "Campaign"
df = pd.read_csv(f"{t}.tsv", delimiter='\t', header=None)
df

                0                                       1
0      2000-01-03                   Art with an attitude.
1      2000-01-16                   Art with an attitude.
2      2000-02-17                   Art with an attitude.
3      2000-02-18                   Art with an attitude.
4      2000-02-26                   Art with an attitude.
...           ...                                     ...
18451  2012-05-27  Your perfect hall for furniture needs.
18452  2012-06-07  Your perfect hall for furniture needs.
18453  2012-06-21  Your perfect hall for furniture needs.
18454  2012-06-28  Your perfect hall for furniture needs.
18455  2012-06-30  Your perfect hall for furniture needs.

[18456 rows x 2 columns]